parameters:
	ignoreErrors:
		-
			message: '#^Loose comparison using \=\= between 11 and 11 will always evaluate to true\.$#'
			identifier: equal.alwaysTrue
			count: 1
			path: src/Parse.php

		-
			message: '#^Loose comparison using \=\= between 4 and 6\|7\|11 will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:addAddress\(\) has parameter \$emailAddress with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:addAddress\(\) has parameter \$emailAddresses with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:addAddress\(\) has parameter \$encoding with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:addAddress\(\) has parameter \$i with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:buildEmailAddressArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:handleQuote\(\) has parameter \$emailAddress with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:parse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:validateDomainName\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Parse\:\:validateLocalPart\(\) has parameter \$emailAddress with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Parse.php

		-
			message: '#^Strict comparison using \=\=\= between 4 and 7 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Parse.php

		-
			message: '#^Method Email\\Tests\\ParseTest\:\:buildOptions\(\) has parameter \$test with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/ParseTest.php

		-
			message: '#^Method Email\\Tests\\ParseTest\:\:testParseEmailAddresses\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/ParseTest.php
