includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
        - rector
    excludePaths:
        - tests/fixtures
        - vendor
    reportUnmatchedIgnoredErrors: false
